@charset "utf-8";

/* body */
body{
    background-color: #b9edc7;
    color: rgb(51, 51, 51);
}
/* Section */

section#left {
    float: left;
    margin-left: 10%;
   margin-right: -2%;
    width: 40%;
}

section#left p {
    font-size: 1.2em;
	line-height: 1.4em;	
	margin-bottom: 10px;
	text-align: justify;
}

section#left ul li{
font-size: 1.2em;
}

section#right img {
     width: 30%;
    margin-left: 10%;
    margin-top: 5%;
   
}